
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
    color: #505050;
}

body{
    padding: 2rem 3rem;
    height: 100vh;
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.header .h1{
    font-size: 2.5rem;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 8rem;
}

.section p{
    font-size: 1.3rem;
}

.section table{
    margin: 2rem 0;
    width: 100%;
}

.get-data{
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

table tr,td{
    width: 15rem;
    text-align: left;
}

table tr td{
    margin: 1rem 2rem;
}

pre{
    margin: 1rem 0;
}
